<div class="controls">
  <label>Blocks</label>
  <button class="button button-symbol col-xs-4 col-md-4 col-lg-4" type="button" (click)="createBlock(1)">
    &#9632;
    <span>1 Column</span>
  </button>
  <button class="button button-symbol col-xs-4 col-md-4 col-lg-4" type="button" (click)="createBlock(2)">
    &#9632; &#9632;
    <span>2 Columns</span>
  </button>
  <button class="button button-symbol col-xs-4 col-md-4 col-lg-4" type="button" (click)="createBlock(3)">
    &#9632; &#9632; &#9632;
    <span>3 Columns</span>
  </button>
</div>
